
.icon-search:before { content: '\e800'; } /* '' */
.icon-search-circled:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-star-circled:before { content: '\e806'; } /* '' */
.icon-heart-circled:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-info-circled:before { content: '\e809'; } /* '' */
.icon-help-circled:before { content: '\e80a'; } /* '' */
.icon-bell:before { content: '\e80b'; } /* '' */
.icon-attach:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-video-circled:before { content: '\e80f'; } /* '' */
.icon-emo-happy:before { content: '\e810'; } /* '' */
.icon-emo-wink:before { content: '\e811'; } /* '' */
.icon-emo-thumbsup:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-note:before { content: '\e814'; } /* '' */
.icon-mail-1:before { content: '\e815'; } /* '' */
.icon-users:before { content: '\e816'; } /* '' */
.icon-user-1:before { content: '\e817'; } /* '' */
.icon-user-add:before { content: '\e818'; } /* '' */
.icon-cancel-circled:before { content: '\e819'; } /* '' */
.icon-cancel-squared:before { content: '\e81a'; } /* '' */
.icon-help:before { content: '\e81b'; } /* '' */
.icon-info:before { content: '\e81c'; } /* '' */
.icon-home-1:before { content: '\e81d'; } /* '' */
.icon-attach-1:before { content: '\e81e'; } /* '' */
.icon-eye-1:before { content: '\e81f'; } /* '' */
.icon-lock-1:before { content: '\e820'; } /* '' */
.icon-lock-open:before { content: '\e821'; } /* '' */
.icon-tag:before { content: '\e822'; } /* '' */
.icon-thumbs-down:before { content: '\e823'; } /* '' */
.icon-thumbs-up:before { content: '\e824'; } /* '' */
.icon-download:before { content: '\e825'; } /* '' */
.icon-upload:before { content: '\e826'; } /* '' */
.icon-forward:before { content: '\e827'; } /* '' */
.icon-reply:before { content: '\e828'; } /* '' */
.icon-reply-all:before { content: '\e829'; } /* '' */
.icon-quote:before { content: '\e82a'; } /* '' */
.icon-pencil:before { content: '\e82b'; } /* '' */
.icon-comment:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-attention:before { content: '\e82e'; } /* '' */
.icon-vcard:before { content: '\e82f'; } /* '' */
.icon-trash:before { content: '\e830'; } /* '' */
.icon-doc-text:before { content: '\e831'; } /* '' */
.icon-doc-text-inv:before { content: '\e832'; } /* '' */
.icon-newspaper:before { content: '\e833'; } /* '' */
.icon-book-open:before { content: '\e834'; } /* '' */
.icon-book:before { content: '\e835'; } /* '' */
.icon-folder:before { content: '\e836'; } /* '' */
.icon-phone:before { content: '\e837'; } /* '' */
.icon-tools:before { content: '\e838'; } /* '' */
.icon-share:before { content: '\e839'; } /* '' */
.icon-logout:before { content: '\e83a'; } /* '' */
.icon-login:before { content: '\e83b'; } /* '' */
.icon-light-up:before { content: '\e83c'; } /* '' */
.icon-adjust:before { content: '\e83d'; } /* '' */
.icon-right:before { content: '\e83e'; } /* '' */
.icon-up:before { content: '\e83f'; } /* '' */
.icon-left:before { content: '\e840'; } /* '' */
.icon-down:before { content: '\e841'; } /* '' */
.icon-up-dir:before { content: '\e842'; } /* '' */
.icon-right-dir:before { content: '\e843'; } /* '' */
.icon-left-dir:before { content: '\e844'; } /* '' */
.icon-down-dir:before { content: '\e845'; } /* '' */
.icon-left-bold:before { content: '\e846'; } /* '' */
.icon-right-bold:before { content: '\e847'; } /* '' */
.icon-up-bold:before { content: '\e848'; } /* '' */
.icon-down-bold:before { content: '\e849'; } /* '' */
.icon-down-thin:before { content: '\e84a'; } /* '' */
.icon-left-thin:before { content: '\e84b'; } /* '' */
.icon-right-thin:before { content: '\e84c'; } /* '' */
.icon-up-thin:before { content: '\e84d'; } /* '' */
.icon-database:before { content: '\e84e'; } /* '' */
.icon-mail-2:before { content: '\e84f'; } /* '' */
.icon-heart-1:before { content: '\e850'; } /* '' */
.icon-art-gallery:before { content: '\e851'; } /* '' */
.icon-tag-1:before { content: '\e852'; } /* '' */
.icon-tags:before { content: '\e853'; } /* '' */
.icon-align-justify:before { content: '\e854'; } /* '' */
.icon-align-right:before { content: '\e855'; } /* '' */
.icon-align-center:before { content: '\e856'; } /* '' */
.icon-align-left:before { content: '\e857'; } /* '' */
.icon-list:before { content: '\e858'; } /* '' */
.icon-gift:before { content: '\e859'; } /* '' */
